/* PHASE 0: Sidebar */

.profile-pictures {
  display: block;
  color: blueviolet;
  margin-top: -10;
  position: relative;
}

.online {
  position: absolute;
  transform: rotate(4);
  transform: translate(4);
  box-shadow: 10;
}

.profile-info {

}

.profile-nav {

}